/* global */
*{
    margin: 0;
    box-sizing: border-box;
}
.logo .logo-img {
    background-color: slateblue;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    width: 100px;
    display: inline-block;
    position: relative;
}
.logo {
    position: relative;
}
.logo-img:before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 5px 0 slateblue;
}
/*----header start-----*/
header {
    background-color: #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*----header start-----*/