/*-----farmework------*/
/*-----container------*/
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* margin-inline: auto; */
}
@media (min-width: 576px) {
    .container{
        max-width: 516px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width: 708px;
    }
}
@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 1170px;
    }
}
/*-----container------*/

/*-----flex------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .flex-md-4{
        flex-basis: 33.33%;
    }
}
/*-----flex------*/
/*-----farmework------*/

